/#{@bands.length}
%html
  %head
    %title Lolla App
    %link{rel: "stylesheet", href: "/style.css"}
  %body
    .header
      Which band(s) are you excited about?
  - @bands.each do |band|
    .band
      .name= band.name
      //.time= band.time
      %button.vote Upvote
      %button.go
        %a{href: "/band/#{band.name.gsub(" ", "_")}"} Comment
      .votes= band.votes

%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
:javascript
    $('.band').load(function(){
    })
    $('.band .vote').click(function(event) {
      $button = $(event.currentTarget);
      $voteCount = $button.siblings('.votes');
      bandName = $button.siblings('.name').text();
      $.post('/vote', {band_name: bandName} , function(data) {
        $voteCount.text(data.votes);
      });
      $button.attr("disabled", "disabled");
    });
    $('.band').on('mouseenter',function(){
      $(this).animate({height: 100}, 200)
      /$('button').animate({visibility: visible}, 10)
    })
    $('.band').on('mouseleave',function(){
      $(this).animate({height: 80}, 200)
    })
