//#{@bands.length}
%html
  %head
    %title Lolla App
    %link{rel: "stylesheet", href: "style.css"}
  %body
    .header
      Which band(s) are you excited about?
    - $bands.each do |band|
      .band
        .name= band.name
        .votes= band.votes
        //%a{href: "http://lineup.lollapalooza.com/band/#{band.url}"} band
        %button.vote Upvote

%script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
:javascript
    $('.band .vote').click(function(event) {
      $button = $(event.currentTarget);
      $voteCount = $button.siblings('.votes');
      bandName = $button.siblings('.name').text();
      //console.log(bandName)
      $.post('/vote', {band_name: bandName} , function(data) {
        $voteCount.text(data.votes);
      });
      $button.attr("disabled", "disabled");
    });