
a {
  color: inherit;
  border-color: inherit;
  text-decoration: none;
}

.band {
  border-color: #0EBFE9;
  border-radius: 7px;
  border-style: solid;
  border-width: 6px;
  height: 80px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 87%;

  -webkit-transition: width 0.2s ease-in-out;

  &:nth-child(even){
    border-color: #ED9121;
  }

  &:hover {
    width: 90%;
  }


  .name {
    font-weight: bold;
    float: left;
    font-size: 30px;
    margin-top: 20px;
  }

  .votes {
    float: right;
    margin-right: 5%;
    font-size: 50px;
  }

  button {
    //visibility: hidden;
    float: right;
    width: 150px;
    font-size: 20px;
    font-family: Corbel;
    padding: 8px;
    margin-top: 20px;
    border-radius: 7px;
    color: #fff;
    background-color: #444;
  }
}

body {
  //background-color: #000;
  font-family: Corbel;
  margin: 0 auto;
  width: 80%;
  //text-align: center;
}

.header {
  text-align: center;
  font-size: 60px;
  padding: 10px;
  margin: 0 auto;
}
