.band:nth-child(even){
  //background-color: lighten(#ED9121, 20%);
  border-color: #ED9121;
}
.band:nth-child(odd){
  //background-color: lighten(#67E6EC, 20%);
  border-color: #67E6EC;
}
body{
  //background-color: #000;
  font-family: Corbel;
  margin: 0 auto;
  width: 80%;
  //text-align: center;
}

a{
  color: inherit;
  border-color: inherit;
  text-decoration: none;
}
.band{
  border-style: solid;
  background-color: #FFF;
  border-width: 6px;
  width: 85%;
  text-align: center;
  padding: 5px;
  height: 80px;
  border-radius: 7px;
  margin: 2px;
  .name{
    font-weight: bold;
    float: left;
    font-size: 30px;
    margin-top: 20px;
  }
  .votes{
    float: right;
    //width: 20%;
    margin-right: 5%;
    font-size: 50px;
    //margin-top: 20px;
  }
  button{
    float: right;
    width: 150px;
    font-size: 20px;
    font-family: Corbel;
    padding: 8px;
    margin-top: 25px;
    border-radius: 7px;
    color: #fff;
    background-color: #444;
  }
}
.header{
  font-size: 60px;
  padding: 10px;
}